.khan__buy-link {
  align-self: start;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 0.4s;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
