.feynman {
  width: 100%;
  min-height: 790px;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
  background-image: url('../../images/feynman.png');
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}
