.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  opacity: 1;
  transition: opacity 0.3s;
}

.footer__column-link:hover {
  color: lightcoral;
  opacity: 0.7;
}
