@import url(../bloks/page/page.css);
@import url(../bloks/header/header.css);
@import url(../bloks/logo/logo.css);
@import url(../bloks/logo/_place_header/logo_place_header.css);
@import url(../bloks/header/__title/header__title.css);
@import url(../bloks/header/__subtitle/header__subtitle.css);
@import url(../bloks/header/__link/header__link.css);
@import url(../bloks/header/__main-ilustration/header__main-ilustration.css);
@import url(../bloks/header/__square-pic/header__square-pic.css);
@import url(../bloks/rotation/rotation.css);
@import url(../bloks/description/description.css);
@import url(../bloks/two-columns/two-columns.css);
@import url(../bloks/two-columns/__brief/two-columns__brief.css);
@import url(../bloks/two-columns/__main-text/two-columns__main-text.css);
@import url(../bloks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../bloks/two-columns/__span-accent/two-columns__span-accent.css);
@import url(../bloks/digits/digits.css);
@import url(../bloks/section-title/section-title.css);
@import url(../bloks/section-subtitle/section-subtitle.css);
@import url(../bloks/table/table.css);
@import url(../bloks/table/__cell/table__cell.css);
@import url(../bloks/table/__heading/table__heading.css);
@import url(../bloks/table/__text/table__text.css);
@import url(../bloks/feynman/feynman.css);
@import url(../bloks/feynman/__title/feynman__title.css);
@import url(../bloks/feynman/__subtitle/feynman__subtitle.css);
@import url(../bloks/feynman/__link/feynman__link.css);
@import url(../bloks/kaufman/kaufman.css);
@import url(../bloks/section-title/_theme_dark/section-title_theme_dark.css);
@import url(../bloks/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../bloks/table/_theme_dark/table_theme_dark.css);
@import url(../bloks/table/__cell/_theme_dark/table__cell_theme_dark.css);
@import url(../bloks/table/__heading/_theme_dark/table__heading_theme_dark.css);
@import url(../bloks/table/__text/_theme_dark/table__text_theme_dark.css);
@import url(../bloks/kaufman/__triangle/kaufman__triangle.css);
@import url(../bloks/footer/footer.css);
@import url(../bloks/footer/__columns/footer__columns.css);
@import url(../bloks/footer/__column/_content_copyright/footer__column_content_copyrifht.css);
@import url(../bloks/logo/_place_footer/logo_place_footer.css);
@import url(../bloks/footer/__author/footer__author.css);
@import url(../bloks/footer/__column/_content_info/footer__column_content_info.css);
@import url(../bloks/footer/__column/_content_social/footer__column_content_social.css);
@import url(../bloks/footer/column-heading/footer__column-heading.css);
@import url(../bloks/footer/__column-links/footer__column-links.css);
@import url(../bloks/footer/__column-link/footer__column-link.css);
@import url(../bloks/footer/__social-icon/footer__social-icon.css);
