.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* _______________________блок  header_______________________ */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 32px;
  width: 183px;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  align-self: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size:  18px;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: red;
}

.header__main-ilustration {
  width: 785px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;

}

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
}

/* ________________блок  description_______________ */
.description {

  display: flex;
  margin-top: 100px;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size:  24px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 0;
  }

.two-columns__main-text :first-child {
  margin-top: 0;

}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}

/* ___________________блок  digits________________ */
.digits {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0 auto 20px auto;
  }

.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
}

.table {
  width: 1100px;
  margin: 0 auto ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-bottom: 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;
}

/* ___________________блок feynman_________________ */
.feynman {
  width: 100%;
  min-height: 790px;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
  background-image: url('../images/feynman.png');
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feynman__link:hover {
  color: red;
}

/* ________________блок kaufman _____________ */
.kaufman {
  width: 100%;
  box-sizing: border-box;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 2;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

.table_theme_dark {
  color: white;
}
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

/*___________Footer___________*/
.footer {
  box-sizing: border-box;
  display: flex;
  background-color: #1f1f1f;
  min-height: 350px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;

}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  height: 35px;
  background-image: url('../images/logo_place_footer.svg');
}

.footer__author {
  margin: 18px 0 ;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

}

.footer__column_content_info {
  padding-left: 0;
  margin-top: 0;
}

.footer__column_content_social {
  padding-left: 0;
  margin-top: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-link:hover {
  color: red;
}

.footer__column_content_info li:last-of-type {
  margin: 0 0 16px 0;
}

.footer__column_content_social li:last-of-type {
  margin: 0 0 16px 0;
}

.footer__icon-social {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
